body {
    background: url('/images/back.png');
}

form {
    background-color: white;    
    width: fit-content;
    margin: auto;
    padding: 20px;
    border-radius: 5px;
    margin-top: 200px;    
}

#startValues {
    width: 250px;
    height: 30px;    
}

.playBtn {
    background: lightgray;
    height: 35px;
}

.game {
    padding-top: 200px;
}

.score {
    width: fit-content;
    margin: auto;
    background-color: white;
    padding: 10px;
    border-radius: 1px;    
}

img {
    width: 100px;
    margin-left: 4px;
}

.cards {
    width: fit-content;
    margin: auto;
    padding: 30px;
}

.action {
    width: fit-content;
    margin: auto;    
    background-color: lightgray;
}